.header
	@media (--desktop-sm)
		&__wrapper
			height: 80px
		.logo
			display: inline-block
			width: 128px
	@media (--tablet-sm)
		&__wrapper
			height: 60px
		.logo
			display: inline-block
			width: 118px
		
	
