.header
	position: absolute
	background: transparent
	width: 100%
	left: 0
	top: 0

	&__wrapper
		height: 100px
		color: $white
		position: relative
		z-index: 1
		display: flex
		align-items: center
		justify-content: space-between

		.logo
			display: inline-block
			width: 148px
			img
				width: 100%
				vertical-align: top
