.block-info
	position: relative
	background: $gray
	height: 100%
	padding: 45px 0 50px 40px
	font-family: 'Segoe', sans-serif

	&__image
		position: absolute
		height: 100%
		padding: 25px 25px 25px 0
		right: 0
		top: 0
		img
			height: 100%
			vertical-align: top

	&__wrap
		position: relative
		height: 100%
		width: 300px
		z-index: 1

	&__title
		font-weight: 500
		font-size: 22px
		line-height: 29px
		margin-bottom: 22px

	&__text
		font-weight: 300
		font-size: 16px
		line-height: 24px
