.block-info
	@media (--desktop)
		padding: 35px 0 40px 30px
		&__wrap
			width: 250px
	@media (--desktop-sm)
		padding: 20px 0 20px 20px
		&__image
			padding: 35px 20px 35px 0
		&__wrap
			width: 200px

		&__title
			font-size: 18px
			line-height: 24px
			margin-bottom: 10px

		&__text
			font-size: 16px
			line-height: 24px
	@media (--tablet)
		padding: 20px 0 20px 20px
		&__image
			padding: 15px 20px 15px 0
		&__wrap
			width: 100%
			padding-right: 20%

		&__title
			font-size: 18px
			line-height: 24px
			margin-bottom: 10px

		&__text
			font-size: 16px
			line-height: 24px

	@media (--tablet-sm)
		padding: 20px 0 20px 20px
		&__image
			padding: 15px 20px 15px 0
		&__wrap
			padding-right: 40%

			
	@media (--mobile)
		padding: 20px 0 20px 20px
		&__image
			padding: 15px 20px 15px 0
		&__wrap
			padding-right: 40%

		&__title
			font-size: 18px
			line-height: 24px
			margin-bottom: 10px

		&__text
			font-size: 14px
			line-height: 20px
