.button
	display: inline-block
	vertical-align: middle
	position: relative
	white-space: nowrap
	overflow: hidden
	color: #000
	background: $white
	min-width: 50px
	line-height: 50px
	padding: 0 40px
	font-size: 18px
	text-align: center
	cursor: pointer
	letter-spacing: 1px
	transition: .3s
	margin: 0 auto

	&__inner
		display: inline-block
		position: relative
		font-family: 'Whitney Semibold', sans-serif

	&__orange
		background: $orange
		border-radius: 4px
		color: $white
		border: 1px solid $orange
		&:hover
			background: darken($orange, 10%)
			border: 1px solid darken($orange, 10%)
			
