extends ../layouts/base.pug


block title
	title Главная
block append scripts
	script(src='./assets/scripts/main.js' defer)

block header
	include ../components/header/header
	include ../components/button/button

block container
	.main
		.first-screen
			.container
				.first-screen__wrap
					.first-screen__content
						h1.first-screen__title Подбор авто в лизинг по выгодной цене
						p.first-screen__text IT платформа по быстрому поиску автомобиля от официальных дилеров РФ
						.first-screen__button
							+button({
								text: 'Регистрация'
							})(class="button__orange")

		.section.more-possibilities
			.container
				.more-possibilities__wrap 
					.more-possibilities__item
						.block-info
							figure.block-info__image
								img(src="./assets/images/01.png", alt="image")
							.block-info__wrap
								.block-info__title Экономия времени
								.block-info__text Дополнительный канал потенциальных клиентов, готовых приобрести автомобиль, без затрат на рекламу и маркетинг.
					.more-possibilities__item
						.block-info
							figure.block-info__image
								img(src="./assets/images/02.png", alt="image")
							.block-info__wrap
								.block-info__title Никаких задержек
								.block-info__text Вы получаете запросы сразу же после отправки клиентом.
					.more-possibilities__item
						.block-info
							figure.block-info__image
								img(src="./assets/images/03.png", alt="image")
							.block-info__wrap
								.block-info__title Максимальная информативность
								.block-info__text В каждой заявке указан регион поиска, марка и модель авто, а так же  индивидуальные запросы клиента.
					.more-possibilities__item
						.block-info
							figure.block-info__image
								img(src="./assets/images/04.png", alt="image")
							.block-info__wrap
								.block-info__title Удобство общения
								.block-info__text Для каждого запроса у вас открыт чат с клиентом с возможностью отправки документов.

		.section
			.container
				.bottom-banner
					.bottom-banner__wrap(style="background-image: url(./assets/images/bottom-banner_bg.png)")
						.bottom-banner__conent
							h3.bottom-banner__title Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов
						.bottom-banner__button
							+button({
								text: 'Регистрация'
							})(class="button__orange")

		





block footer

	.modal-block
		.modal-block__wrapper
			button.modal-block__close
				span &times
			.modal-block__content
				h2.modal-block__title Авторизация
				form.form(action="#")
					.form__item
						label(for='mail').form__field E-mail
							input(type="email", placeholder="Введите e-mail" id='mail' name="mail" autocomplete="on" required="required")
						
					.form__item
						label(for='pass').form__field Пароль
							input(type="pass" id='pass' name="pass" autocomplete="on" placeholder="Введите пароль" required="required")
					
					.form__item.form__item-button
						+button({
							text: 'Войти'
						})(class="button__orange")