.navigation
	@media (--desktop)
		&__item
			margin-right: 80px
	@media (--desktop-sm)
		&__item
			margin-right: 60px
			
	@media (--tablet-sm)
		&__item
			margin-right: 40px
		&__item-link
			font-size: 16px
			line-height: 18px
		&__item-link-icon
			padding-left: 26px
			.svg-inline--fa
				top: 0px

	@media (--mobile)
		&__item
			margin-right: 20px
		&__item-link-icon
			padding-left: 0px
			span
				display: none
			.svg-inline--fa
				position: relative
