.navigation
	position: relative
	display: flex
	

	&__item
		position: relative
		margin-right: 100px
		&:last-child
			margin: 0

	&__item-link-icon
		padding-left: 36px
		.svg-inline--fa
			position: absolute
			left: 0
			top: 2px

	&__item-link
		position: relative
		display: inline-block
		color: $white
		font-family: 'Whitney Light', sans-serif
		font-weight: 325
		font-size: 18px;
		line-height: 23px;
		&:hover
			color: $link_hover
