.bottom-banner
	position: relative
	padding: 20px 0 12px
	background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%)
	background-size: contain
	border-radius: 10px
	color: #fff

	&__wrap
		background-size: contain
		background-repeat: no-repeat
		background-position: 100% 50%
		padding: 50px 70px 58px

	&__conent
		max-width: 590px

	&__title
		margin-bottom: 46px

	
