.bottom-banner
	@media (--desktop)
		&__wrap
			padding: 40px 40px 40px
		&__title
			margin-bottom: 40px
	@media (--desktop-sm)
		padding: 20px 0px
		&__wrap
			padding: 30px
		&__title
			margin-bottom: 30px
	@media (--tablet)
		padding: 30px 0px
		&__wrap
			padding: 10px 20px
