.modal-block
	width: 100%
	min-height: 100%
	background: rgba(28, 24, 47, 0.3)
	position: fixed
	z-index: 100
	display: flex
	padding: 15px
	display: none
	left: 0
	top: 0
	right: 0
	bottom: 0
	overflow-y: auto
	-webkit-overflow-scrolling: touch
	>*
		-webkit-transform: translateZ(0px)

	&.show
		display: flex


	&__wrapper
		position: relative
		padding: 60px
		margin: auto
		max-width: 490px
		background: $white
		box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25)
		border-radius: 6px

	&__close
		line-height: 14px
		position: absolute
		top: 24px
		right: 24px
		font-size: 24px
		padding: 0
		color: #918D9A

	&__content
		position: relative
		height: auto
		display: flex
		align-items: stretch
		flex-direction: column
		width: 100%
		height: 100%

	&__title
		position: relative
		margin: 0 0 20px
		text-align: center

	.form
		width: 370px

