.modal-block
	@media (--tablet)
		&__wrapper
			padding: 40px
	@media (--tablet-sm)
		&__wrapper
			padding: 30px

			.form
				width: 350px

		&__close
			top: 20px
			right: 20px

	@media (--mobile)
		&__wrapper
			padding: 20px

			.form
				width: 250px

		&__close
			top: 14px
			right: 14px
