.first-screen
	position: relative
	background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%)
	padding: 155px 0 100px
	color: $white
	height: 700px

	&__wrap
		background: url('../images/first-screen_bg.svg') no-repeat 100%, 100%
		background-size: contain
		padding: 45px 0 60px

	&__content
		max-width: 530px

	&__title
		margin: 0 0 30px

	&__text
		font-family: 'Whitney Book', sans-serif
		font-weight: 300
		font-size: 24px
		line-height: 31px
		margin: 0 0 60px
