.first-screen
	@media (--desktop)
		height: auto
		padding: 130px 0 80px
		&__wrap
			padding: 30px 0 50px
		&__content
			max-width: 480px
	@media (--desktop-sm)
		padding: 110px 0 70px
		&__wrap
			padding: 10px 0 30px
		&__content
			max-width: 450px
		&__title
			margin: 0 0 20px
		&__text
			font-size: 20px
			line-height: 28px
			margin: 0 0 40px
	@media (--tablet)
		padding: 100px 0 50px
	@media (--tablet-sm)
		padding: 90px 0 40px
		&__title
			margin: 0 0 10px
		&__text
			font-size: 18px
			line-height: 24px
			margin: 0 0 30px
