.form
	@media (--tablet)
	@media (--tablet-sm)
		&__item
			margin: 0 0 15px

		&__item-button
			margin: 28px 0 0 

		&__field
			&
				input
					margin-top: 5px
					padding: 0 12px 0 10px
					font-size: 14px
					line-height: 40px

	@media (--mobile)
		&__field
			font-size: 14px
			&
				input
					margin-top: 0px
					padding: 0 12px 0 10px
					font-size: 14px
					line-height: 40px
