.form
	width: 100%
	&__item
		margin: 0 0 20px

	&__item-button
		margin: 34px 0 0 
		.button
			width: 100%


	&__field
		width: 100%
		position: relative
		

		&
			input
				margin-top: 10px
				width: 100%
				padding: 0 16px 0 12px
				transition: .3s
				border: 1px solid $line
				box-sizing: border-box
				border-radius: 4px
				font-size: 16px
				line-height: 50px

		&
			input.error
				border: 1px solid red
		&
			label.error
				max-width: 320px
				color: red
				font-size: 14px
				display: block
				color: red
				font-weight: normal

	input::placeholder 
		color: $line
