header.header
	.container
		.header__wrapper
			a(href='').logo
				img(src="./assets/images/logo.png", alt="logo")

			ul.navigation
				li.navigation__item
					a(href='#').navigation__item-link Клиентам
				li.navigation__item 
					a(href='#').navigation__item-link.navigation__item-link-icon.js-modal 
						span Войти
						i.far.fa-user-circle
