html,
body
	height: 100%

body
	font-family: 'Whitney Light', sans-serif
	font-weight: 325
	font-size: 16px
	line-height: 1.4
	&.overflow
		overflow: hidden
		height: 100%

// body,
// input,
// button,
// textarea
// 	font-family: 'Whitney Book', sans-serif
// 	font-style: normal

h1, h2, h3, h4
	font-family: 'Whitney Semibold', sans-serif
	font-weight: normal


input,
button,
textarea
	@include resetInput

button
	cursor: pointer
	&::-moz-focus-inner
		border: 0
		padding: 0

a
	text-decoration: none

em,
i
	font-style: italic

b,
strong
	font-weight: bold

$sm: 568px
$md: 768px
$lg: 992px
$xl: 1230px

@-ms-viewport
	width: device-width


html
	box-sizing: border-box
	-ms-overflow-style: scrollbar

*
	box-sizing: inherit
	&::before, &::after
		box-sizing: inherit

.container, .container-fluid
	width: 100%
	margin-right: auto
	margin-left: auto
	padding-right: 15px
	padding-left: 15px

@media (min-width: $md)
	.container
		// max-width: 720px
		max-width: 750px

@media (min-width: $lg)
	.container
		// max-width: 960px
		max-width: 970px

@media (min-width: $xl)
	.container
		// max-width: 1140px
		// in order to match designs
		max-width: 1170px


h1
	font-size: 50px
	line-height: 120%
	@media (--desktop)
		font-size: 42px
		line-height: 48px
	@media (--desktop-sm)
		font-size: 42px
		line-height: 52px
	@media (--tablet)
		font-size: 36px
		line-height: 48px
	@media (--tablet-sm)
		font-size: 28px
		line-height: 36px
	@media (--mobile)
		font-size: 24px
		line-height: 32px
h2
	font-size: 40px
	line-height: 52px
	@media (--desktop)
		font-size: 36px
		line-height: 52px
	@media (--desktop-sm)
		font-size: 34px
		line-height: 48px
	@media (--tablet)
		font-size: 30px
		line-height: 36px
	@media (--tablet-sm)
		font-size: 24px
		line-height: 32px
	@media (--mobile)
		font-size: 20px
		line-height: 28px
h3
	font-size: 34px
	line-height: 45px
	@media (--desktop)
		font-size: 32px
		line-height: 44px
	@media (--desktop-sm)
		font-size: 28px
		line-height: 36px
	@media (--tablet)
		font-size: 24px
		line-height: 32px
	@media (--tablet-sm)
		font-size: 22px
		line-height: 28px
	@media (--mobile)
		font-size: 18px
		line-height: 24px
